header
	nav.navbar.navbar-vinson.rectangle(role="navigation")
		.container
			.navbar-header
				button.navbar-toggle(data-toggle="collapse",data-target=".navbar-collapse",type="button")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") 月桂叶的博客
				p.navbar-text 爱编程
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a.word-keep(href="/")
							span.octicon.octicon-book &nbsp;博文
					li
						a.word-keep(href="/archive")
							span.octicon.octicon-repo &nbsp;档案
					li
						a.word-keep(href="/category")
							span.octicon.octicon-list-unordered &nbsp;分类
					li
						a.word-keep(href="/tag")
							span.octicon.octicon-tag &nbsp;标签
					li
						a.search-button(href="#stq=")
							span.octicon.octicon-search