.page-scrollTop(data-toggle="tooltip",data-placement="top",title="Top")
	a(href="javascript:void(0);")
		.arrow
		.stick
footer.footnote.footnote-vinson
	.container
		a.foot-item(href="#",target="_blank")
			span.octicon.octicon-mail
		a.foot-item(href="#",target="_blank")
			span.octicon.octicon-mark-github
		a.foot-item(href="#",target="_blank")
			span.octicon.octicon-rss
		a.foot-item(href="#",target="_blank")
			span.octicon.octicon-link-external
		a(href="#") &nbsp;
			span.word-keep &copy;月桂叶
script(src="/libs/jquery/dist/jquery.min.js")
script(href="/libs/bootstrap/dist/js/bootstrap.min.js")